@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 4em;
}

.buttonWrapper {
  width: 25%;
  min-width: 100px;
  height: 20%;
  max-height: 50px;
  margin: 0 auto;
  display:flex;
  justify-content: space-around;
}

/* .button {
  width: fit-content;
} */

.link {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}